<?xml version="1.0"?>
<launch>
    <rosparam param="/obs_poses"><!--障碍物起始位置，移动轨迹的中点 -->
        [ 5.0, 0.0, 0.0, 
        10.0, 0.0, 0.0, 
        15.0, 0.0, 0.0, 
        20.0, 0.0, 0.0, 
        25.0, 0.0, 0.0, 
        30.0, 0.0, 0.0, 
        35.0, 0.0, 0.0, 
        40.0, 0.0, 0.0, 
        45.0, 0.0, 0.0, 
        50.0, 0.0, 0.0 ]
    </rosparam>
    <rosparam param="/obs_sizes"><!--障碍物大小 X Y Z -->
        [ 1.0, 1.0, 3.0, 
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0,
         1.0, 1.0, 3.0 ]
    </rosparam>
    <rosparam param="/obs_velocities"><!--障碍物速度 X Y Z -->
        [ 0.0, -2.5, 0.0,
         0.0, 2.5, 0.0,
         0.0, -2.5, 0.0,
         0.0, 2.5, 0.0,
         0.0, -2.5, 0.0,
         0.0, 2.5, 0.0,
         0.0, -2.5, 0.0,
         0.0, 2.5, 0.0,
         0.0, -2.5, 0.0,
         0.0, 2.5, 0.0]
    </rosparam>
    <rosparam param="/moving_ranges"><!--移动轨迹总长度 -->
        [ 10.0, 
          10.0, 
          10.0, 
          10.0, 
          10.0, 
          10.0, 
          10.0, 
          10.0, 
          10.0, 
          10.0, 
          10.0 ]
    </rosparam>
    <node pkg="dynamic_env_generator" type="dynamic_env_generator" name="dynamic_env_generator" output = "screen">
        <param name="dynamic_obs_num" value="10" />
        <param name="voxel_resolution" value="0.1"/>   
    </node>

</launch>
